<publishData>
    <publishProfile profileName="Project - Web Deploy" publishMethod="MSDeploy" publishUrl="project.scm.azurewebsites.net:443" msdeploySite="Project" userName="$User" userPWD="1234" destinationAppUrl="http://project.azurewebsites.net" SQLServerConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
    <publishProfile profileName="Project - FTP" publishMethod="FTP" publishUrl="ftp://project.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="User\$User" userPWD="1234" destinationAppUrl="http://project.azurewebsites.net" SQLServerConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
    <publishProfile profileName="Project - Zip Deploy" publishMethod="ZipDeploy" publishUrl="project.scm.azurewebsites.net:443" userName="$User" userPWD="1234" destinationAppUrl="http://project.azurewebsites.net" SQLServerConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites">
        <databases />
    </publishProfile>
</publishData>